<div id="sidebar-container" class="bg-light border-right">
    <div class="logo">
      <h4 class="font-weight-bold mb-0">Bank of Academlo</h4>
    </div>
    <div class="menu list-group-flush">
      <a href="/clients" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i
          class="icon ion-md-people lead mr-2"></i> Clientes</a>
      <a href="/account_types" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i
          class="icon ion-md-stats lead mr-2"></i> Tipos de cuentas</a>
      <a href="/accounts" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i
          class="icon ion-md-calendar lead mr-2"></i> Cuentas</a>
      <a href="#" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i
          class="icon ion-md-person lead mr-2"></i> Perfil</a>
      <a href="#" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"> <i
          class="icon ion-md-settings lead mr-2"></i> Configuración</a>
    </div>
  </div>