<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body style="background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220))">
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="h-25 d-inline-block d-flex flex-column justify-content-center">
            <h1>Hola, bienvenido a Academlo Bank</h1>
            <a class="btn btn-info mt-1 p-2 text-white" href="/clients">Ir al Dashboard</a>
        </div>
    </div>
    <%- include('partials/footer'); -%>
</body>
</html>